.t-project-thumb:not(.zoomed-media) {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #888;
    border-radius: 4px;
    z-index: 1;
    &:hover {
        img {
            transform: scale(1.1);
        }
        &::after {
            opacity: 0.2;
        }
    }
    img {
        transition: .5s ease all;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e5e5e5;
        opacity: 0;
        transition: .5s ease all;
    }
    width: 100%;
}

.t-project-thumb-container {
    width: 40%;
    min-width: 40%;
    @media screen and (max-width: 600px) {
        width: 100%;
        min-width: 100%;
    }
    height: fit-content;
}

.zoomed-media {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .8);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        padding: 1rem;
    }
    > img {
        max-width: 95%;
        max-height: 95%;
    }
}
