{% set tech_list = [
  (
        "Python",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg",
        "https://python.org"
    ),
    (
        "C",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg",
        "https://c-language.org"
    ),
    (
        "Java",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-plain.svg",
        "https://dev.java"
    ),
    (
        "Kumir xD",
        "https://alt-gnome.wiki/kumir/kumir-logo.svg",
        "https://niisi.ru/kumir"
    ),
    (
        "Django 5.x",
        "https://static.djangoproject.com/img/icon-touch.e4872c4da341.png",
        "https://djangoproject.com"
    ),
    (
        "Litestar",
        "https://litestar.dev/_static/logo.svg",
        "https://litestar.dev"
    ),
    (
        "FastAPI",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original.svg",
        "https://fastapi.tiangolo.com"
    ),
    (
        "pytest",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytest/pytest-original-wordmark.svg",
        "https://pytest.org"
    ),
    (
        "dishka",
        "https://avatars.githubusercontent.com/u/123208516",
        "https://github.com/reagento/dishka/"
    ),
    (
        "Docker, Docker Compose",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg",
        "https://docker.com"
    ),
    (
        "Postgres",
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg",
        "https://postgresql.org"
    ),
    (
        "Ruff",
        "https://raw.githubusercontent.com/astral-sh/ruff/refs/heads/main/docs/assets/ruff-favicon.png",
        "https://github.com/astral-sh/ruff/"
    ),
    (
        "wemake-python-styleguide",
        "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/docs/_static/logo.png",
        "https://github.com/wemake-services/wemake-python-styleguide/"
    ),
    (
        "mypy",
        "https://matangover.gallerycdn.vsassets.io/extensions/matangover/mypy/0.4.1/1733578029898/Microsoft.VisualStudio.Services.Icons.Default",
        "https://mypy-lang.org/"
    ),
] %}
